<form role="form">
    <div class="form-content">
        <div class="form-group">
            <input [(ngModel)]="queryReset.email" name="email" type="text" class="form-control input-underline input-lg" placeholder="Email">
        </div>
        <!-- <div class="form-group">
            <input [(ngModel)]="queryReset.new_password" (keyup)="checkPassword()"  name="new_password" type="password" class="form-control input-underline input-lg" placeholder="請輸入新密碼">
        </div>
        <div class="form-group">
            <input [(ngModel)]="queryReset.confirm_new_password" (keyup)="checkPassword()"   name="confirm_new_password" type="password" class="form-control input-underline input-lg" placeholder="請確認新密碼">
        </div> -->
        <div *ngIf="!pwdIsSame" class="alert alert-danger" >密碼前後不一致</div>
        <a #btn_login class="btn btn-white" mat-button (click)="onQueryReset()">取得新密碼</a> &nbsp;
        <!-- <div class="form-group">
            <label class="form-check-label">
                    <input class="form-check-input" [(ngModel)]="isRememberMe" type="checkbox" value="" name="isRememberMe">remember me 
                  </label>
        </div> -->

    </div>
    <div *ngIf="queryResetResponse && queryResetResponse.has_error" class="alert alert-danger" role="alert">
        {{queryResetResponse.message}}
    </div>
    <div *ngIf="queryResetResponse && queryResetResponse.message && !queryResetResponse.has_error" class="alert alert-info" role="alert">
        {{queryResetResponse.message}}
    </div>
</form>