<div>
    <h4>時數分析</h4>

      <mat-form-field>
      <mat-select placeholder="時間">
          <mat-option>時數分析</mat-option>
          <mat-option *ngFor="let ti_data of timeanalysis_data" [value]="ti_data">{{ti_data}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="card card-height">
        <div class="card-body">
            <div class="row">
                <ngx-charts-bar-vertical
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel"
                  (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>
        </div>
      </div>

</div>