<div class="row">
    <!-- <div class="col col-2">
    <mat-form-field>
        <mat-select [(value)]="selected_device" placeholder="新增設備">
            <mat-option *ngFor="let device of device_name" [value]="device">
                {{ device }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="col col-2" style="padding-left: 40px;padding-top: 7px">
    </div> -->
    <!-- <h5 style="padding:10px 0px 0px 40px;margin-right:30px">新增</h5> -->
    <button mat-raised-button (click)="addDevice('iBox')">新增iBox</button>
</div>
<div class="row" style="margin-top:10px">
    <button mat-raised-button (click)="fee('c')">汽車費率</button>
    <button mat-raised-button (click)="fee('m')">機車費率</button>
    <button mat-raised-button (click)="fee('t')">卡車費率</button>
</div>
<div class="row">
    <div class="container">
        <mat-table #table [dataSource]="view_data" matSort>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" style="width:150px;">
                    <button mat-icon-button (click)="edit(element)"><mat-icon>edit</mat-icon></button>
                    <!-- <button mat-icon-button (click)="delete(element)"><mat-icon>delete</mat-icon></button> -->
                    <button mat-raised-button color="primary" (click)="export(element)">匯出設定檔</button>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="device_id">
                <mat-header-cell *matHeaderCellDef> 車道碼 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.device_type}}{{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="car_type">
                <mat-header-cell *matHeaderCellDef> 車道 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ mappingDeviceType[element.car_type] }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="device_type">
                <mat-header-cell *matHeaderCellDef> 設備類型 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.device_type}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="device_name">
                <mat-header-cell *matHeaderCellDef> 設備名稱 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.device_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fee_args_name">
                <mat-header-cell *matHeaderCellDef> 使用費率 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fee_args_name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="update_time">
                <mat-header-cell *matHeaderCellDef> 更新時間 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.update_time}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="update_user">
                <mat-header-cell *matHeaderCellDef> 更新帳號 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.update_user}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
<div class="row">
    <div class="col">
        <div *ngIf="savedResponse && savedResponse.has_error" class="alert alert-danger" role="alert">
            {{savedResponse.message}}
        </div>
        <div *ngIf="savedResponse && savedResponse.message && !savedResponse.has_error" class="alert alert-info" role="alert">
            {{savedResponse.message}}
        </div>
    </div>
</div>
