
    <div class="col col-sm-8">
        <div class="form-content">
            <mat-form-field>
                <input [(ngModel)]="user.account" [disabled]="accountEditable" matInput i18n-placeholder placeholder="帳號" >
            </mat-form-field>
            <div class="form-group">
                <mat-form-field>
                    <input [(ngModel)]="new_password" (keyup)="checkPassword()" matInput type="password" class="form-control input-underline input-lg" placeholder="請輸入新密碼">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <input [(ngModel)]="confirm_new_password" (keyup)="checkPassword()" matInput  type="password" class="form-control input-underline input-lg" placeholder="請確認新密碼">
                </mat-form-field>
            </div>
            <div *ngIf="!pwdIsSame" class="alert alert-danger" >密碼前後不一致</div>
            <a #btn_login class="btn btn-white" mat-button (click)="onQueryReset()">重新設定密碼</a> &nbsp;
            <div *ngIf="this.queryResetResponse.data" >
                <a routerLink='/login' #btn_login class="btn btn-white" mat-button>重新登入</a>
            </div>
        </div>
        <div *ngIf="queryResetResponse && queryResetResponse.has_error" class="alert alert-danger" role="alert">
            {{queryResetResponse.message}}
        </div>
        <div *ngIf="queryResetResponse && queryResetResponse.message && !queryResetResponse.has_error" class="alert alert-info" role="alert">
            {{queryResetResponse.message}}
        </div>
        <div *ngIf="initResponse && initResponse.has_error" class="alert alert-danger" role="alert">
            {{initResponse.message}}
        </div>
        <div *ngIf="initResponse && initResponse.message && !initResponse.has_error" class="alert alert-info" role="alert">
            {{initResponse.message}}
        </div>
    </div>