<!-- <h2 mat-dialog-title><span>完整版費率設定</span></h2>
<button mat-icon-button (click)="onCloseDailog()" class="close"><mat-icon class="btn-delete">close</mat-icon></button>
<mat-dialog-content class="dailog-form-margintop form-textsize">
 <app-complete-pricing-rule-form></app-complete-pricing-rule-form> 
<div>這邊是完整版費率</div>
<div class="row">
    <div class="col col-sm-10">
        <div *ngIf="savedResponse && savedResponse.has_error" class="alert alert-danger" role="alert">
            {{savedResponse.message}}
        </div>
        <div *ngIf="savedResponse && savedResponse.message && !savedResponse.has_error" class="alert alert-info" role="alert">
            {{savedResponse.message}}
        </div>
    </div>
</div>
</mat-dialog-content>
 -->
