.row{
  margin: 0 auto;
}

.datebox, .invoicebox, .pricebox, .pvbox{
  width: 100px;
}

.timebox{
  width: 30px;
}

.mat-cell{
  font-size: 11px;
}

.stationbox{
  width: 140px;
}

.pvbox2{
  width: 50px;
}

.invoicebox2{
  width: 80px;
}
.error {
  color: red;
}
.validation-normal {
  background-color:#fafafa;
}

.button-row {
  display: flex;
  justify-content: space-around;
}

.margin {
  margin:0px auto;
  padding-top: 50px;
}

.spinner {
  width: 550px;
  height: 550px;
}