<div class="mat-container" [@routerTransition]>

    <div class="row">
        <div class="col col-md-1">
            <button mat-icon-button (click)="add()"><mat-icon class="btn-add">add</mat-icon></button>
        </div>
        <div class="col col-md-7"></div>
        <div class="col col-md-4 pull-right">
            <mat-form-field>
                <input matInput [(ngModel)]="txtTableFilter" (keyup)="applyFilter($event.target.value)" placeholder="輸入">
            </mat-form-field>
            <button mat-icon-button (click)="clearTableFilter()"><mat-icon class="btn-clear">clear</mat-icon></button>
            <button mat-icon-button (click)="refreshTable()"><mat-icon class="btn-refresh">refresh</mat-icon></button>
        </div>
    </div>
    <div *ngIf="!isEmptyData">
        <mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef style="min-width:150px"></mat-header-cell>
                <mat-cell *matCellDef="let element" style="min-width:150px">
                    <button mat-icon-button (click)="view(element)"><mat-icon>remove_red_eye</mat-icon></button>
                    <button mat-icon-button (click)=edit(element)><mat-icon class="btn-edit">edit</mat-icon></button>
                    <app-confirm-button (deleteEvent)="delete(element.role_id)"></app-confirm-button>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="company_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 業者名稱 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.company_name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 名稱 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 描述 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="role_type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 型態 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.role_type}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="modifed_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 修改日期 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.modifed_date}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="create_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header> 創建日期 </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.create_date}} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>

        <mat-paginator #role_paginator [pageSize]="30" [pageSizeOptions]="[30, 50, 100]">
        </mat-paginator>

    </div>
    <div *ngIf="isEmptyData" class="alert alert-info">No Data</div>
</div>