<h2 mat-dialog-title>出場設定</h2>
<mat-dialog-content class="dailog-form-margintop form-textsize">
    <div class="row">
        <div class="col col-md-4">
            <label>場站編號：</label>
            <br/>
            <label> {{view.garage_code}} </label>
            <br/>
            <label>場站名稱：</label>
            <br/>
            <label> {{view.garage_name}} </label>
        </div>
        <div class="col col-md-4">
            <label>出場設定描述：</label>
            <br/>
            <mat-form-field>
                <input [(ngModel)]="view.description" matInput placeholder="請輸入內容">
            </mat-form-field>
        </div>
        <div class="col col-md-4">
            <label>出場設定：</label>
            <br/>
            <mat-form-field>
                <textarea [(ngModel)]="exit_type_array" matInput placeholder="請輸入出場方式並以逗號隔開"></textarea>
            </mat-form-field>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col col-sm-10">

        </div>
        <div class="col col-sm-2">
            <button mat-icon-button value="" (click)="save()"><mat-icon class='btn_save'>save</mat-icon>Save</button>
        </div>
    </div>
</mat-dialog-content>
