<div class="panel panel-default">
    <h6>有錢卡</h6>
    <div class="col" [formGroup]="customerForm">
        <div class="row title">
            <div class="col col-sm-4">
                <mat-form-field class="row">
                    <input [(ngModel)]="customerTicketTransactionHappyCash.ip_address" matInput i18n-placeholder="@@ip_address"
                    formControlName="ip_address" placeholder="有錢卡主機位址" [readonly]="readOnly">
                </mat-form-field>
                <div class="row">
                    <div *ngIf="ip_address.invalid && ip_address.dirty" class="alert alert-danger fill">
                        <div *ngIf="ip_address.errors.required" >必填欄位</div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4">
                <mat-form-field class="row">
                    <input [(ngModel)]="customerTicketTransactionHappyCash.ip_port" matInput i18n-placeholder="@@ip_port"
                    formControlName="ip_port" placeholder="有錢卡主機port號" [readonly]="readOnly">
                </mat-form-field>
                <div class="row">
                    <div *ngIf="ip_port.invalid && ip_port.dirty" class="alert alert-danger fill">
                        <div *ngIf="ip_port.errors.required" >必填欄位</div>
                        <div *ngIf="ip_port.errors.min" >不可小於 0</div>
                        <div *ngIf="ip_port.errors.max" >不可大於 65535</div>
                        <div *ngIf="ip_port.errors.pattern" >只能輸入數字</div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4">
                <mat-form-field class="row">
                    <input [(ngModel)]="customerTicketTransactionHappyCash.account" matInput i18n-placeholder="@@account"
                    formControlName="account" placeholder="有錢卡FTP帳號" [readonly]="readOnly">
                </mat-form-field>
                <div class="row">
                    <div *ngIf="account.invalid && account.dirty" class="alert alert-danger fill">
                        <div *ngIf="account.errors.required" >必填欄位</div>
                    </div>
                </div>
            </div>
        </div>          
        <div class="row title">
            <div class="col col-sm-4">
                <mat-form-field class="row">
                    <input [(ngModel)]="customerTicketTransactionHappyCash.password" matInput i18n-placeholder="@@password"
                    formControlName="password" placeholder="有錢卡FTP密碼" [readonly]="readOnly">
                </mat-form-field>
                <div class="row" >
                    <div *ngIf="password.invalid && password.dirty" class="alert alert-danger fill"> 
                        <div *ngIf="password.errors.required">必填欄位</div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4">
                <mat-form-field class="row">
                    <input [(ngModel)]="customerTicketTransactionHappyCash.upload_path" matInput i18n-placeholder="@@upload_path"
                    formControlName="upload_path" placeholder="有錢卡票證交易檔上傳位址" [readonly]="readOnly">
                </mat-form-field> 
                <div class="row">
                    <div *ngIf="upload_path.invalid && upload_path.dirty" class="alert alert-danger fill">
                        <div *ngIf="upload_path.errors.required" >必填欄位</div>
                        <div *ngIf="upload_path.errors.pattern" >頭尾必須是 / 符號</div>
                        <div *ngIf="upload_path.errors.pattern" >或是單獨一個 / 符號值</div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4">
                <mat-form-field class="row">
                    <input [(ngModel)]="customerTicketTransactionHappyCash.download_path" matInput i18n-placeholder="@@download_path"
                    formControlName="download_path" placeholder="有錢卡票證回饋檔下載位址" [readonly]="readOnly">
                </mat-form-field> 
                <div class="row">
                    <div *ngIf="download_path.invalid && download_path.dirty" class="alert alert-danger fill">
                        <div *ngIf="download_path.errors.required" >必填欄位</div>
                        <div *ngIf="download_path.errors.pattern" >頭尾必須是 / 符號</div>
                        <div *ngIf="download_path.errors.pattern" >或是單獨一個 / 符號值</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row title">
            <div class="col col-sm-4">
                <mat-form-field class="row">
                    <input [(ngModel)]="customerTicketTransactionHappyCash.happycash_source_id" matInput i18n-placeholder="@@happycash_source_id"
                    formControlName="happycash_source_id" placeholder="有錢卡業者代碼" [readonly]="readOnly">
                </mat-form-field> 
                <div class="row">
                    <div *ngIf="happycash_source_id.invalid && happycash_source_id.dirty" class="alert alert-danger fill">
                        <div *ngIf="happycash_source_id.errors.required" >必填欄位</div>
                        <div *ngIf="happycash_source_id.errors.pattern" >只能輸入大寫英文或數字，</div>
                        <div *ngIf="happycash_source_id.errors.pattern" >且必須為2個字元長度</div>
                    </div>
                </div>
            </div>
            <div class="col col-sm-4">
                <label i18n="@@status">有錢卡啟用狀態 &nbsp;</label>
                <mat-radio-group [(ngModel)]="customerTicketTransactionHappyCash.status" 
                    formControlName="status" class="row">
                    <mat-radio-button [value]="0">停用</mat-radio-button>
                    <mat-radio-button [value]="1">啟用</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>     
    </div>
    <hr>
</div>